.weatherForecast {
    text-align: center;
}
.weatherForecastTemperatureMin {
opacity: 0.8;
margin-left: 5px;
}
.weatherForecast .row {
    display: flex;
    flex-wrap: nowrap;
}

.weatherForecast .col {
    text-align: center;
    flex: 1;
}