.Weather {
    border: 1px solid #dadde1;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(135,135,135);
    padding: 16px;
    border-radius: 4px;
    max-width: 600px;
}
.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin-top: 20px;
}
.Weather ul {
    padding:0;
    margin: 0;
   
}
.Weather li {
    list-style: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
 
}
.Weather img {
    width: 84px;
    height: 84px;
    display: inline-block;
    position: relative;
    top: -18px;
}
.Weather .temperature {
    font-size: 64px;
    font-weight: 400;
    line-height: 60px;
    color: black;
}
.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 4px;
    color: black;
    position: relative;
    top: -32px;
}